# Discord Bot Token
# Get this from https://discord.com/developers/applications
DISCORD_TOKEN=your_bot_token_here

# Channel ID where approval requests will be sent
# Right-click on the channel and copy ID (Developer Mode must be enabled)
APPROVAL_CHANNEL_ID=123456789012345678

# Channel ID where approved messages will be posted
APPROVED_CHANNEL_ID=123456789012345678

# Role ID of the team that will approve messages
# Right-click on the role and copy ID (Developer Mode must be enabled)
TEAM_ROLE_ID=123456789012345678
